
/* @override */
.window-clone-border {
    border: 8px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.active-window-clone-border-inner {
    border: 8px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.active-window-clone-border-outer {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}